# VS Code settings
.vscode/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
venv/
env/
*.egg-info/
dist/
build/

# OS files
.DS_Store
Thumbs.db
